body {
  color: #555;
  font-family: "Source Han Sans JP";
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  border-bottom: solid 1px #ccc;
}

h2 {
  border-bottom: solid 1px #ccc;
}

nav.toc {
  /* border: solid 1px #aaa; */
  /* display: table; */
  /* padding: 1em; */
  /* background-color: #f9f9f9; */
  /* font-size: smaller; */
}

nav.toc p.toctitle {
  font-style: italic;
}

p.text {
}

p.quote {
  margin-left: 4em;
}

p.broadcast {
  font-style: italic;
}

blockquote {
  font-style: italic;
}

blockquote:before {
  content: "“";
  color: #ccc;
  font-size: 2em;
}

p.mission {
  font-size: smaller;
  text-align: center;
}

div.dager {
  text-align: center;
}

dt:target {
  background-color: #eed;
}

div.authentic {
  border-left: solid #efe 0.5em;
}

div.authentic div.basis {
  background-color: #efe;
  font-style: italic;
  text-align: right;
}
