@media not screen and (max-device-width: 480px) {
  /* Desktop */
  #logo { width: 320px; height: 320px; }
}
@media screen and (max-device-width: 480px) {
  /* Smart phones */
  #logo { width: 240px; height: 240px; }
}
body {
  color: #333;
  font-family:
               "源ノ角ゴシック JP",
               "メイリオ",
               sans-serif;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a[href] {
  color: #4183c4;
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}
#header {display:none;}

#header h1 {
  border-bottom: solid 1px #eee;
  font-size: 2.25em;
}

#header h2 {
  display: inline;
  font-family: "CMU Serif", "Optima", "Times New Roman", serif;
  font-size: 1em;
}
#header h2:before {
  content: "Author: ";
}
#header h2:after {
  content: ", ";
}
#header h3 {
  display: inline;
  font-family: "CMU Serif", "Optima", "Times New Roman", serif;
  font-size: 1em;
}
#header h3:before {
  content: "Date: ";
}

h1 {
  border-bottom: solid 1px #eee;
  font-size: 1.75em;
  text-transform: uppercase;
  font-family: "CMU Serif", "Optima", "Times New Roman", serif;
}

h1:first-letter {
  font-size: 1.5em;
}

pre:not([class=file-vars]) {
  padding: 1em;
  border-radius: 0.2em;
  background-color: #f7f7f7;
}

code {
  font-family:
               "CMU Typewriter Text",
               "Source Code Pro",
               "BitStream Vera Sans Mono",
               "Consolas", "Monaco",
               "源ノ角ゴシック JP",
               "Palatino Linotype",
               "Courier",
               monospace;
}

.footnotes li:target {
  background-color: #ffd;
}

.file-vars {
  font-family:
               "CMU Typewriter Text",
               "Source Code Pro",
               "BitStream Vera Sans Mono",
               "Consolas", "Monaco",
               "源ノ角ゴシック JP",
               "Palatino Linotype",
               "Courier",
               monospace;
  word-break: break-all;
}

.local-vars {
  /*width: 40em;*/
  display: table;
  margin: 0 auto 0;
  font-family:
               "CMU Typewriter Text",
               "Source Code Pro",
               "BitStream Vera Sans Mono",
               "Consolas", "Monaco",
               "源ノ角ゴシック JP",
               "Palatino Linotype",
               "Courier",
               monospace;
  word-break: break-all;
}

.warning {
  background-color: rgba(193, 56, 50, 0.85);
  border: solid 5px rgba(0, 0, 0, 0.1);
  color: white;
}

.experimental {
  background-color: rgba(255, 203, 0, 0.5);
  border: solid 5px rgba(0, 0, 0, 0.05);
}

.provisional {
  background-color: rgba(255, 203, 0, 0.5);
  border: solid 5px rgba(0, 0, 0, 0.05);
}
